<!--
<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd"
             xmlns:beans="http://www.springframework.org/schema/beans">

       <http>
              &lt;!&ndash;<intercept-url pattern="/login" access="isAnonymous()"/>&ndash;&gt;
              &lt;!&ndash;<intercept-url pattern="/register" access="isAnonymous()"/>&ndash;&gt;
              <intercept-url pattern="/orders" access="isAuthenticated()"/>
              <intercept-url pattern="/admin/**" access="hasAuthority('ADMIN')"/>

              <intercept-url pattern="/**" access="permitAll()"/>

              <form-login login-page="/login" default-target-url="/orders"
                          authentication-failure-url="/login?error=true"/>
              <logout logout-success-url="/login?logout=true"/>
              &lt;!&ndash;<csrf disabled="true"/>&ndash;&gt;
       </http>

       <beans:bean class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" id="passwordEncoder" />

       <authentication-manager>
              <authentication-provider user-service-ref="userServiceImpl">
                     <password-encoder ref="passwordEncoder"/>
                     &lt;!&ndash;<user-service>&ndash;&gt;
                     &lt;!&ndash;<user name="user@mail.com" password="user" authorities="USER"/>&ndash;&gt;
                     &lt;!&ndash;<user name="admin@mail.com" password="admin" authorities="ADMIN"/>&ndash;&gt;
                     &lt;!&ndash;</user-service>&ndash;&gt;

                     &lt;!&ndash;<jdbc-user-service data-source-ref="dataSource"&ndash;&gt;
                     &lt;!&ndash;users-by-username-query="SELECT email, password, 1 FROM users WHERE email = ?"&ndash;&gt;
                     &lt;!&ndash;authorities-by-username-query="SELECT email, role FROM users WHERE email = ?"/>&ndash;&gt;

              </authentication-provider>
       </authentication-manager>

       &lt;!&ndash; Enable method secure annotations &ndash;&gt;
       <global-method-security secured-annotations="enabled" pre-post-annotations="enabled"/>

</beans:beans>-->
